# Configuration file

general {
    # Whether or not non-ops can use the /name command
    B:allowCommand=true
    S:clientFilePath=/config/tlf

    # Default state for new players
    B:defaultHiddenStatus=true

    # Whether or not to keep players in 'hidden.txt' if they are offline - useful for big servers
    B:saveOfflinePlayers=false
    S:serverFilePath=
}


